{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/sum-form">Суммирование</a></li>
        <li><a href="/lab4/sub-form">Вычитание</a></li>
        <li><a href="/lab4/mul-form">Умножение</a></li>
        <li><a href="/lab4/pow-form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">Счетчик деревьев</a></li>
        <li><a href="/lab4/login">Авторизация</a></li>
        <li><a href="/lab4/fridge">Холодильник</a></li>
        <li><a href="/lab4/grain">Заказ зерна</a></li>
    </ol>

    <style>
        .task-list {
            line-height: 1.8;
            font-size: 18px;
        }
        a {
            text-decoration: none;
            color: #0066cc;
        }
        a:hover {
            color: #003399;
            text-decoration: underline;
        }
    </style>
{% endblock %}