{% extends "base.html" %}

{% block lab %}Умножение{% endblock %}

{% block main %}
    <h1>Умножение</h1>
    {{ x1 }} × {{ x2 }} = {{ result }}
    <div style="margin-top: 20px;">
        <a href="/lab4" class="back-btn">← Назад к лабораторной 4</a>
    </div>
    <style>
        .back-btn {
            display: inline-block;
            margin-top: 10px;
            background-color: #ddd;
            color: #333;
            text-decoration: none;
            padding: 6px 12px;
            border-radius: 6px;
            font-weight: bold;
            transition: 0.2s;
        }
        .back-btn:hover {
            background-color: #bbb;
        }
    </style>
{% endblock %}
