{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<h1>Список цветов</h1>

{% if flowers %}
    <ol>
    {% for f in flowers %}
        <li>{{ f.name }} - {{ f.price }} руб. 
            <a href="{{ url_for('lab2.del_flower', flower_id=loop.index0) }}">удалить</a>
        </li>
    {% endfor %}
    </ol>
    <p><a href="{{ url_for('lab2.clear_flowers') }}">Удалить все цветы</a></p>
{% else %}
    <p>Список пуст.</p>
{% endif %}

<form action="" method="get" onsubmit="location.href='/lab2/add_flower/'+this.name.value; return false;">
    <label>Добавить цветок: <input type="text" name="name"></label>
    <input type="submit" value="добавить">
</form>

<a href="/lab2">Назад к лабораторной 2</a>
{% endblock %}
