{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1 style="color:#4CAF50;text-align:center;">Успешно!</h1>

    <div style="text-align:center;font-size:18px;margin-top:10px;">
        Спасибо, ваш заказ оплачен на сумму <strong>{{ price }}₽</strong>. Ожидайте доставку!
    </div>

    <div style="text-align:center;margin-top:20px;">
        <a href="/lab3/order" style="background-color:#2196F3;color:white;padding:10px 20px;border-radius:5px;text-decoration:none;">Новый заказ</a>
    </div>
{% endblock %}
