{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    <form method="post">
        <div>
            <label>Название статьи:
                <input type="text" maxlength="50" name="title" value="{{ article['title'] }}">
            </label>
        </div>

        <div>
            <textarea name="article_text" rows="6">{{ article['article_text'] }}</textarea>
        </div>

        <div>
            <label><input type="checkbox" name="is_public" {% if article.get('is_public') in [1,'1',True] %}checked{% endif %}> Публичная</label>
            <label><input type="checkbox" name="is_favorite" {% if article.get('is_favorite') in [1,'1',True] %}checked{% endif %}> Избранная</label>
        </div>

        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <div style="margin-top: 20px;">
        <a href="/lab5/list" class="back-btn">← Назад к списку статей</a>
    </div>
{% endblock %}

