<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Витлева Анастасия. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lab2/favicon.ico') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='lab2/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='lab2/favicon-64x64.png') }}">
    <style>
        body, main {
            color: {{ request.cookies.get('color', '#000000') }};
            background-color: {{ request.cookies.get('bg_color', '#ffffff') }};
            font-size: {{ request.cookies.get('font_size', '16px') }};
            font-family: {{ request.cookies.get('font_family', 'Arial, sans-serif') }};
            margin: 0;
            min-height: 100vh;
            transition: all 0.3s ease;
        }
    </style>
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}<br>
        <a href="/">Главное меню</a>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Витлева Анастасия, ФБИ-31, 3 курс, 2025
    </footer>
</body>
</html>