{% extends "base.html" %}

{# номер лабораторной работы #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/filters">filters</a></li>
        <li><a href="/lab2/flowers/0">flowers/0</a> (пример просмотра первого цветка)</li>
        <li><a href="/lab2/all_flowers">all_flowers (все цветы)</a></li>
        <li><a href="/lab2/add_flower/вобла">add_flower/вобла (добавить закусь)</a></li>
        <li><a href="/lab2/clear_flowers">clear_flowers (очистить список цветов)</a></li>
        <li><a href="/lab2/calc/">calc (по умолчанию 1 и 1)</a></li>
        <li><a href="/lab2/calc/5">calc/5 (пример с одним числом)</a></li>
        <li><a href="/lab2/calc/5/2">calc/5/2 (пример с двумя числами)</a></li>
        <li><a href="/lab2/books">books (список книг)</a></li>
        <li><a href="/lab2/energy">energy (энергетики)</a></li>
    </ol>
{% endblock %}